{% extends 'layout.html' %}
{% block head %}
<title>Issue Medicine Page</title>
{% endblock %}
{% block body %}
<form action="" method="POST" novalidate>
    <!-- below line {{ form.hidden_tag() }} is compulsory. needed for CSRF attack -->
    {{ form.hidden_tag() }}
    <fieldset class="jumbotron">
        <h1 class="text-align-center">Issue Medicine</h1>
        <div class="form-group">
            {{ form.user.label(class="form-control-label")}}
            AdmissionEx
            Pharmacist
            DiagnosticEx
            {{ form.user(class="form-control form-control-lg")}}
            <!-- Error Messages -->
            {% for error in form.user.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span>{{ error }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-control-label")}}
            aaaaaa1@A
            {{ form.password(class="form-control form-control-lg")}}
            <!-- Error Messages -->
            {% for error in form.password.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span>{{ error }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
        {{ form.submit(class="btn btn-primary")}}
    </fieldset>

</form>
<br>
<button type="button" class="btn btn-dark" center>Add</button>
<br>
<table class="table table-bordered">
    <thead class="thead-dark">
        <center>
            <h2>Pharmacy</h2>
        </center>
        <br>
        <br>
        <tr>
            <th scope="col">Medicine Id</th>
            <th scope="col">Medicine Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Rate</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>paracetamol</td>
            <td>10</td>
            <td>200</td>
        </tr>
    </tbody>
</table>

<center><button type="button" class="btn btn-dark" center>Update</button></center>
{% endblock %}