<div class="container-fluid text-center top-container text-light bg-dark p-3">
  <h2>Savior Hospital Management System</h2>
  <div class="container-fluid row justify-content-center">
    <!-- Patient Dropdown Menu -->
    <span class="dropdown col-md-3 col-sm-12 p-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="PatientDropDownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Patient
      </button>
      <!-- Dropdown Options -->
      <div class="dropdown-menu" aria-labelledby="PatientDropDownMenuButton">
        <a class="dropdown-item" href="#">Dummy Option 1</a>
        <a class="dropdown-item" href="#">Dummy Option 2</a>
        <a class="dropdown-item" href="#">Dummy Option 3</a>
        <a class="dropdown-item" href="#">Dummy Option 4</a>
        <a class="dropdown-item" href="#">Dummy Option 5</a>
      </div>
    </span>
    <!-- Pharmacy Dropdown Menu -->
    <span class="dropdown col-md-3 col-sm-12 p-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="PharmacyDropDownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Pharmacy
      </button>
      <!-- Dropdown Options -->
      <div class="dropdown-menu" aria-labelledby="PharmacyDropDownMenuButton">
        <a class="dropdown-item" href="#">Dummy Option 1</a>
        <a class="dropdown-item" href="#">Dummy Option 2</a>
        <a class="dropdown-item" href="#">Dummy Option 3</a>
        <a class="dropdown-item" href="#">Dummy Option 4</a>
        <a class="dropdown-item" href="#">Dummy Option 5</a>
      </div>
    </span>
    <!-- Diagnostics Dropdown Menu -->
    <span class="dropdown col-md-3 col-sm-12 p-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="DiagnosticsDropDownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Diagnostics
      </button>
      <!-- Dropdown Options -->
      <div class="dropdown-menu" aria-labelledby="DiagnosticsDropDownMenuButton">
        <a class="dropdown-item" href="#">Dummy Option 1</a>
        <a class="dropdown-item" href="#">Dummy Option 2</a>
        <a class="dropdown-item" href="#">Dummy Option 3</a>
        <a class="dropdown-item" href="#">Dummy Option 4</a>
        <a class="dropdown-item" href="#">Dummy Option 5</a>
      </div>
    </span>
  </div>
  <div class="container-fluid row justify-content-center">
    <!-- Welcome Message -->
    <span class="col-md-6 col-sm-12">
      <h5>Welcome, &lt;UserName&gt; [Admission Executive] </h5>
    </span>
    <span class="col-md-3 col-sm-12">
      <button type="button" class="btn btn-info">Logout</button>
    </span>

    <!-- Logout Button -->
  </div>
</div>