<table class="table table-bordered">
    <thead class="thead-dark">
      <center><h2>Diagnostics</h2></center>
  <br>
  <br>
      <tr>
        <th scope="col">Patient Id</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Address</th>
        <th scope="col">DOJ</th>
        <th scope="col">Type of Room</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1234</td>
        <td>Joseph</td>
        <td>56</td>
        <td>Rick Street</td>
        <td>03-May-2020</td>
        <td>Single</td>
      </tr>
      <tr>
        <td>1234</td>
        <td>Joseph</td>
        <td>56</td>
        <td>Rick Street</td>
        <td>03-May-2020</td>
        <td>Single</td>
      </tr>
    </tbody>
  </table>
  
  <table class="table table-bordered">
  <br>
  <br>
  
    <thead>
      <center><h2>Diagnostics Conducted</h2></center>
      <tr>
        <th scope="col">Name of the Test</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>CBP</td>
        <td>Rs 2000</td>
      </tr>
      <tr>
        <td>Lipid</td>
        <td>Rs 1500</td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
  
  <center><button type="button" class="btn btn-dark" center>Add Diagnostics</button></center>
  <br>
  <br>
  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Name of the Test</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>CBP</td>
        <td>Rs 2000</td>
      </tr>
      <tr>
        <td>Lipid</td>
        <td>Rs 1500</td>
      </tr>
    </tbody><button type="button" class="btn btn-dark" center>Add</button>
  
  </table>
  
  <center><button type="button" class="btn btn-dark" center>Update</button></center>
  