{% extends 'layout.html' %}
{% block head %}
    <title>Issue Medicines</title>
{% endblock %}
{% block body %}

<h2 class="text-center p-3">Diagnostics</h2>

<table class="table table-bordered p-3">
    <thead class="thead-dark">

        <tr>
            <th scope="col">Patient Id</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Address</th>
            <th scope="col">DOJ</th>
            <th scope="col">Type of Room</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1234</td>
            <td>Joseph</td>
            <td>56</td>
            <td>Rick Street</td>
            <td>03-May-2020</td>
            <td>Single</td>
        </tr>
        <tr>
            <td>1234</td>
            <td>Joseph</td>
            <td>56</td>
            <td>Rick Street</td>
            <td>03-May-2020</td>
            <td>Single</td>
        </tr>
    </tbody>
</table>

<h2 class="text-center p-3">Diagnostics Conducted</h2>

<table class="table table-bordered">

    <thead>
        <tr>
            <th scope="col">Name of the Test</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>CBP</td>
            <td>Rs 2000</td>
        </tr>
        <tr>
            <td>Lipid</td>
            <td>Rs 1500</td>
        </tr>
    </tbody>
</table>

<center><button type="button" class="btn btn-dark" center>Add Diagnostics</button></center>

<br>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Name of the Test</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>CBP</td>
            <td>Rs 2000</td>
        </tr>
        <tr>
            <td>Lipid</td>
            <td>Rs 1500</td>
        </tr>
    </tbody>
</table>

<br>

<div class="row">
    <table class="table table-bordered col-9">
        <thead>
            <tr>
                <th scope="col">Medicine</th>
                <th scope="col">Quantity</th>
                <th scope="col">Rate</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Paracetamol</td>
                <td>5</td>
                <td>Rs 100</td>
                <td>Rs 120</td>
            </tr>
            <tr>
                <td>Paracetamol</td>
                <td>5</td>
                <td>Rs 100</td>
                <td>Rs 120</td>
            </tr>
        </tbody>
    </table>
    <!-- Button to be middle aligned -->
    <div class="col-3">
        <button type="button" class="btn btn-dark" center>Add</button>
    </div>
</div>


<center><button type="button" class="btn btn-dark" center>Update</button></center>
{% endblock %}