{% extends 'layout.html' %} {% block head %}
<title>Diagnostics- Search Patient</title>
{% endblock %} {% block body %}
<div class="jumbotron">
    <h1 class="text-align-center">Get Patient Details</h1>
    <form method="POST" novalidate>
        {{ form.csrf_token }}
        <div class="form-group">
            <label for="formGroupExampleInput">{{ form.patient_id.label }}</label>
            {{ form.patient_id(class_="form-control")}}
            <!-- Error Messages -->
            {% for error in form.patient_id.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span>{{ error }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
        {{ form.submit(class_="btn btn-primary")}}
    </form>
    <br>
    <!-- If Patient Found -->
    {% if patientData %}
      <p>Demo</p>
    {% endif %}
</div>

{% endblock %}