{% extends 'layout.html' %}
{% block head %}
<title>Patient Details</title>
{% endblock %}
{% block body %}
  
{{ form.hidden_tag() }} 
<fieldset class="jumbotron">
    <h1 class="text-align-center">Get Patient Details</h1>
    <div class="form-group">
        {{ form.patientId.label(class="form-control-label")}}
        {{ form.patientId(class="form-control form-control-lg")}}
        <br/>
        <button type="submit" class="btn btn-primary">Fetch</button>
    </div>
</fieldset>

{% endblock %}



