{% extends 'layout.html' %}
{% block head %}
<title>Issue Medicine Page</title>
{% endblock %}
{% block body %}
<form action="" method="POST" novalidate>
    <!-- below line {{ form.hidden_tag() }} is compulsory. needed for CSRF attack -->
    {{ form.hidden_tag() }}
    <fieldset class="jumbotron">
        <h1 class="text-align-center">Issue Medicine</h1>
        <div class="form-group">
            {{ form.med_name.label(class="form-control-label")}}
            {{ form.med_name(class="form-control form-control-lg")}}
            <!-- Error Messages -->
            {% for error in form.med_name.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span>{{ error }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.med_qty.label(class="form-control-label")}}
            {{ form.med_qty(class="form-control form-control-lg")}}
            <!-- Error Messages -->
            {% for error in form.med_qty.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span>{{ error }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
        {{ form.submit(class="btn btn-info", value="Check Availability") }}
    </fieldset>
    <br>
    <center>
        {{ form.submit(class="btn btn-primary", value="Add Medicine") }}
    </center>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <br>
            <br>
            <tr>
                <th scope="col">Medicine Id</th>
                <th scope="col">Medicine Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Rate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>paracetamol</td>
                <td>10</td>
                <td>200</td>
            </tr>
        </tbody>
    </table>
    <br>
    <center>
        {{ form.submit(class="btn btn-success", value="Update") }}
    </center>
</form>
{% endblock %}