{% extends 'layout.html' %} {% block head %}
<title>Pharmacy- Search Patient</title>
{% endblock %} {% block body %}
<div class="jumbotron">
    <h1 class="text-align-center">Get Patient Details</h1>
    <form method="POST" novalidate>
        {{ form.csrf_token }}
        <div class="form-group">
            <label for="formGroupExampleInput">{{ form.patient_id.label }}</label>
            {{ form.patient_id(class_="form-control")}}
            <!-- Error Messages -->
            {% for error in form.patient_id.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span>{{ error }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
        {{ form.submit(class_="btn btn-primary", value="Fetch")}}
    <br>
    <!-- If Patient Found -->
    {% if patientData %}
    <h3 class="text-align-center">Patients Details</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Address</th>
                <th scope="col">Date of Admission</th>


            </tr>
        </thead>
        <tbody>

            <tr>
                <th scope="row">{{ patientData.id }}</th>
                <td>{{ patientData.name }} </td>
                <td>{{ patientData.age }} </td>
                <td>{{ patientData.address }} </td>
                <td>{{ patientData.date_of_admission }} </td>

            </tr>

        </tbody>

        {% endif %}
    </table>
    {% if patientData %}
    <h3 class="text-align-center">Medicine Details</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Serial No</th>
                <th scope="col">Medicines issued</th>
                <th scope="col">Qt of Medicine</th>
                <th scope="col">Rate</th>
                <th scope="col">Amount</th>

            </tr>
        </thead>
        <tbody>

            {% for serialno in range(1,4) %}
            <tr>
                <th scope="row">{{ serialno }}</th>
                <td>{{ "Paracitamol" }} </td>
                <td>{{ 5 }} </td>
                <td>{{ 10 }} </td>
                <td>{{ 50 }} </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    <input type="hidden" name="issueMedRequested" value="True">
    {{ form.submit(class_="btn btn-primary", value="Issue Medicines")}}
    <a class="btn btn-primary" href="{{ url_for('PharmacyIssueMed') }}" role="button">TestingBtn</a>
    {% endif %}
    </form>
    
</div>

{% endblock %}