{% extends 'layout.html' %}
{% block head %}
<title>Issue Medicines</title>
{% endblock %}
{% block body %}
<table class="table table-bordered">
    <thead class="thead-dark">
        <center>
            <h2>Pharmacy</h2>
            {% if patientData %}
                
            {% endif %}
        </center>
        <br>
        <br>
        <tr>
            <th scope="col">Patient Id</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Address</th>
            <th scope="col">DOJ</th>
            <th scope="col">Type of Room</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ patientData.id }}</td>
            <td>{{ patientData.name }}</td>
            <td>{{ patientData.age }}</td>
            <td>{{ patientData.address }}</td>
            <td>{{ patientData.date_of_admission }}</td>
            <td>{{ patientData.type_of_room }}</td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered">
    <br>
    <br>

    <thead>
        <center>
            <h2>Medicines Issued</h2>
        </center>
        <tr>
            <th scope="col">Medicine</th>
            <th scope="col">Quantity</th>
            <th scope="col">Rate</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Acebutolol</td>
            <td>10</td>
            <td>Rs 55</td>
            <td>Rs 50</td>
        </tr>
        <tr>
            <td>Acebutolol</td>
            <td>10</td>
            <td>Rs 55</td>
            <td>Rs 50</td>
        </tr>
    </tbody>
</table>
<br>
<br>

<center><button type="button" class="btn btn-dark" center>Issue Medicines</button></center>
<br>
<br>

<div class="row">
    <table class="table table-bordered col-9">
        <thead>
            <tr>
                <th scope="col">Medicine</th>
                <th scope="col">Quantity</th>
                <th scope="col">Rate</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Paracetamol</td>
                <td>5</td>
                <td>Rs 100</td>
                <td>Rs 120</td>
            </tr>
            <tr>
                <td>Paracetamol</td>
                <td>5</td>
                <td>Rs 100</td>
                <td>Rs 120</td>
            </tr>
        </tbody>
    </table>
    <!-- Button to be middle aligned -->
    <div class="col-3">
        <button type="button" class="btn btn-dark" center>Add</button>
    </div>
</div>

<center><button type="button" class="btn btn-dark" center>Update</button></center>
{% endblock %}